@import "src/styles/common";

.footer {
  background: $gold;
  height: 3em;

  .button-nav {
    margin: 0 3em;
    padding-top: .4em;

    &__button {
      background: $lightBrown;
      @include size(2.4em, 14em, .4em);
      border: none;
    }
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@media (max-width: 56.8em) {

  .footer {
    .button-nav {
      margin: 0 2.4em;
    }
  }
}

@media (max-width: 31.6em) {

  .footer {
    .button-nav {
      margin: 0 9.6em;
    }
  }
}
